/* Base Styles 
-------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #F6C0D0;
}


/* Section / Row Heights 
-------------------- */

.row_height-75 {
    min-height: 75vh;
}

.row_height-50 {
    min-height: 50vh;
}

.row_height-25 {
    min-height: 25vh;
}


/* Header 
-------------------- */

.fas.fa-bars {
    font-size: 2rem;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    .fas.fa-bars {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 0.75rem;
    }
}

header {
    background-image: url("../media/images/header_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_box {
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #FFFFFF;
}

@media (max-width: 576px) {
    .header_box-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .header_box-sub-title {
        font-size: 0.75rem;
    }
}


.btn {
    background-color: #F6C0D0;
    border-color: #FFFFFF;
    border-radius: 0rem;
}

.btn:hover {
    background-color: #FFFFFF;
    border-color: #F6C0D0;
    color: #F6C0D0;
}

@media (max-width: 576px) {
    .header_box-button {
        font-size: 1rem;
    }
    
}

.fas.fa-caret-square-down {
    font-size: 1.5rem;
    color: #FFFFFF;
}


/* Section 1 
-------------------- */

.sec-1_box-1 {
    background-color: #233451;
}

.sec-1_box-1-text {
    line-height: 3rem;
}

@media (max-width: 576px) {
    .sec-1_box-1-text {
        font-size: 1.25rem;
        line-height: 2.75rem; 
    }
}


.sec-1_box-2 {
    background-color: #233451;
}

.sec-1_box-2-text {
    line-height: 3rem;
}

@media (max-width: 576px) {
    .sec-1_box-2-text {
        font-size: 1.25rem;
        line-height: 2.75rem;
    }
}

.sec-1_box-3 {
    background-color: #8E7C93;
}

.sec-1_box-4 {
    background-color: #8E7C93;
}

@media (max-width: 768px) {
    .sec-1_box-4-text {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .sec-1_box-4-text {
        width: 100%;
    }
}


/* Section 2 Top
-------------------- */

.sec-2_box-1 {
    background-color: #D0A5C0;
}

.sec-2_box-2 {
    background-image: url("../media/images/jigsaw.jpg");
    background-position: 50% 83%;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

.sec-2_box-3 {
    background-image: url("../media/images/placement-dino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2_box-4 {
    background-color: #D0A5C0;
}


/* Section 2 Bottom
-------------------- */

.sec-2_box-5 {
    background-color: #F6C0D0;
}

.sec-2_box-6 {
    background-image: url("../media/images/paraphernalia.jpg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: contain;
}

.sec-2_box-7 {
    background-image: url("../media/images/placement-dino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2_box-8 {
    background-color: #F6C0D0;
}


/* Hover Reveal Effect
-------------------- */
.hover p {
    font-size: 2rem;
    visibility: hidden;
}

.hover p a {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .hover p {
        /*font-size: 2rem;*/
        visibility: visible;
    }
}

@media (max-width: 576px) {
    .hover p {
        font-size: 1rem;
        visibility: visible;
    }
}

.hover:hover p {
    visibility: visible;
}

.hvr-sweep-to-top:before {
    background: rgb(0,0,0,0.5);
}

.project-desc {
    font-size: 1.25rem;
}

@media (max-width: 576px) {
   .project-desc {
        font-size: 0.75rem;
    } 
}

/* Section 3 Box 9 
-------------------- */

.sec-3_box-9 {
    background-color: #8E7C93;
}

@media (max-width: 576px) {
    .sec-3_box-9-text {
        font-size: 1.25rem;
    }
}

/* Footer 
-------------------- */

.footer-1 {
    background-color: #233451;
}

@media (max-width: 576px) {
    .footer-1-text {
        font-size: 1.25rem;
    }
}

.footer-2 {
    background-color: #233451;
}

@media (max-width: 576px) {
    .footer-2-text {
        font-size: 0.75rem;
    }
}

/* Modal 
-------------------- */

.modal {
    background-color: rgb(246, 192, 208, 0.8);
}

.modal-content {
    background-color: rgb(0,0,0,0.0);
    border-radius: 0rem;
    border: none;
}

.modal-image-box {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 10px;
    background-color: #686669;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.modal-image {
    border-radius: 75px;
    height: 125px;
    width: 125px;
    margin-top: 28px;
    margin-left: 28px;
}

.modal-title {
    text-align: center;
}

@media (max-width: 576px) {
    .modal-title {
        font-size: 2rem;
    }
}