
header {
    background-image: url("../media/images/header_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--height-100 {
    min-height: 100vh;
}

.section--height-50 {
    min-height: 50vh;
}

.row--height-75 {
    min-height: 75vh;
}

.row--height-50 {
    min-height: 50vh;
}

.row--height-25 {
    min-height: 25vh;
}


/* Header 
-------------------- */
nav a {
    color: white;
}

.fas.fa-bars{
    font-size: 2rem;
    color: white;
}

.header__text {
    margin-top: 80px;
    padding: 40px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
}

.header__text-title {
    margin-top: 20px;
}

.header__text-subtitle {
    margin-top: 20px;
}

.header__btn {
    margin-top: 100px;
}

.btn {
    background-color: #008000;
    border-color: white;
    border-radius: 0rem;
}

.btn:hover {
    background-color: white;
    border-color: #008000;
    color: #008000;
}

.header__scroll {
    margin-top: 20px;
}

.header__scroll-text p{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: white;
}

.fas.fa-caret-square-down {
    font-size: 1.5rem;
    color: white;
}


/* Section 1 
-------------------- */
.sec-1__box-1 {
    background-color: #003380;
}

.sec-1__box-1-text {
    margin-top: 80px;
    padding: 40px;
    color: white;
}

@media (max-width: 576px) {
    .sec-1__box-1-text {
        margin-top: 0px;
        padding: 0px;
    }
}

.sec-1__box-2 {
    background-image: url("../media/images/sec-1__box-2-code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-1__box-2-content {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    color: white;
}

.sec-1__box-2-content img {
    margin-top: 20px;
    width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    .sec-1__box-2-content img {
        margin-top: 10px;
        width: 50%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .sec-1__box-2-content img {
        margin-top: 0px;
        width: 80%;
        height: auto;
    }
}

.sec-1__box-3 {
    background-image: url("../media/images/sec-1__box-3-quote.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-1__box-3-content {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    color: white;
}

@media (max-width: 768px) {
    .sec-1__box-3-content {
        top: 20%;
    }
}

@media (max-width: 576px) {
    .sec-1__box-3-content {
        top: 30%;
    }
}

.fa-quote-left {
    font-size: 3vw;
}

.sec-1__box-3-content h2 {
    font-size: 3vw;
}

.fa-quote-right {
    font-size: 3vw;
}


/* Section 2 Top
-------------------- */
.sec-2__box-1 {
    background-color: #008000;
}

.sec-2__box-1 h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.sec-2__box-1 p {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.sec-2__box-2 {
    background-image: url("../media/images/jigsaw_desktop.jpg");
    background-position: 50% 56%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .sec-2__box-2 {
    background-image: url("../media/images/jigsaw_mobile.jpg");
    background-position: 50% 60%;
    }
}    

.sec-2__box-3 {
    background-image: url("../media/images/sec-2__box-3-dino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2__box-4 {
    background-color: #cccccc;
}

/* Section 2 Bottom
-------------------- */
.sec-2__box-5 {
    background-color: #ff99ff;
}

.sec-2__box-5 h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.sec-2__box-5 p {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.sec-2__box-6 {
    background-image: url("../media/images/paraphernalia.jpg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: contain;
}


.sec-2__box-7 {
    background-image: url("../media/images/sec-2__box-3-dino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-2__box-8 {
    background-color: #cccccc;
}


/* Hover Reveal Effect
-------------------- */
.hover p {
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 25px;
    visibility: hidden;
}

.hover p a {
    color: white;
}

@media (max-width: 768px) {
    .hover p {
        visibility: visible;
        font-size: 20px;
    }
}

/*@media (max-width: 576px) {*/
/*    .hover p {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

.hover:hover p {
    visibility: visible;
}

.hvr-sweep-to-top:before {
    background: rgb(0,0,0,0.5);
}

.project-desc {
    font-size: 15px;
}

/*@media (max-width: 768px) {*/
/*    .project-desc {*/
/*    font-size: 15px;*/
/*    }*/
/*}*/

/*@media (max-width: 576px) {*/
/*    .project-desc {*/
/*    font-size: 15px;*/
/*    }*/
/*}*/

/* Section 3 Box 9 
-------------------- */
.sec-3__box-9 {
    background-color: white;
}

.sec-3__box-9 p {
    font-size: 25px;
    margin-top: 40px;
}

.sec-3__box-9 button {
    margin-top: 20px;
}


/* Footer 
-------------------- */
.footer {
    background-color: #cccccc;
}

.footer img {
    margin-top: 20px;
}

.footer h4 {
    margin-top: 20px;
}

.footer ul {
    margin-top: 40px;
}

.footer p {
    margin-top: 120px;
}

/* Modal 
-------------------- */
.modal-content {
    background-color: #686669;
    border-radius: 0rem;
}

.modal-close {
    margin-right: 5px;
}

.modal-close--mod {
    font-size: 1rem;
    font-weight: 200;
    color: white;
    text-shadow: none;
    text-transform: uppercase;
}

.modal-close--mod:hover {
    color: white;
    text-decoration: underline;
}

.modal-image-box {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    background-color: #686669;
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.modal-image {
    border-radius: 75px;
    height: 125px;
    width: 125px;
    margin-top: 28px;
    margin-left: 28px;
}

.modal-title {
    text-align: center;
    margin: 10px;
    color: white;
}